$white: #fff;
$soft-gray: #dddbda;
$dark-gray: #3d3f43;

$font-dark: #434a4b;
$font-link: #0c4d8b;
$font-light: #b5b5c3;

$blue: #0c4d8b;
$soft-blue: #088cbc;
$light-blue: #088cbc;
$purple: #554a9e;

$gradient: linear-gradient(90deg, $purple 0%, $soft-blue 100%);