#error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    &.error-403 {
        background-image: url("../images/error-403.jpg");
    }
    &.error-404 {
        background-image: url("../images/error-404.jpg");
    }
    &.error-500 {
        background-image: url("../images/error-500.jpg");
    }
    &.error-201 {
        background-image: url("../media/bg/300.jpg");
    }
}

.error-text {
    margin-top: 30%;
    text-align: center;
    color: white;
    font-size: 15px;
    h1 {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 3em;
    }
    p {
        font-size: 1.5em;
    }
}