

  .multiselect__tags, .multiselect__single{
    background: #e5f2f5 !important
  }
  .multiselect__tag{
    background:#3699FF !important;
    
  }
  .multiselect__tag>span{
    color: white;
  }

  .multiselect__option--highlight{
    background:#e5f2f5 !important;
  }
  