.alineacionVertical{
    vertical-align: middle;
}

.tituloTabla{
	font-size: .7cm; padding-left: 25px;color:black;
}

.padding-busqueda{
	padding-top: 20px;
}

.padding-busqueda > input#busqueda{
	height: 50px;
}

#listado>thead>tr>th>div{
	padding-left: 1%;
}